<div class="productContainer">
    <h1 class="productContainerHeading heading">Products</h1>

    <% if (Array.isArray(products)) { %>
        <% for(let product of products) { %>
            <div class="product">
                <img src=<%= product.image.url  %>  alt="flower">
                <div class="details">
                    <h1 class="productTitle"><%= product.title  %> </h1>
                    <p class="productDesc"><%= product.description %> </p>
                    <a href="/product/singleProduct/<%= product._id  %>?category=<%= product.category  %>  ">View Product</a>
                </div>
            </div>

            <% } %>

            <% }%>
   
</div>