<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    
    <%- include('partials/navbar')  %> 
    <%- include('partials/flash')  %> 

    <section class="cart">
        <h1 class="heading">Shopping Cart</h1>
        <div class="shoppingCart">
            <div class="left">
                <% for(let cart of cartItems) { %>
                    <div class="cartProduct">
                        <img src=<%= cart.product.image.url %>  alt="cartProduct">
                        <div class="cartProductDetail">
                            <h1 class="cartProductDetailTitle"><%= cart.product.title  %> </h1>
                            <p class="cartProductDetailDesc"><%= cart.product.description  %> </p>
                            <h4 class="cartProductDetailPrice">$<%= (cart.product.price * cart.quantity)  %> </h4>
                            <form action="/cart/update?_method=PUT" method="Post" class="cartProductDetailQuantity">
                                <input type="number" name="quantity" value=<%= cart.quantity  %>  min="1" max="10" id="quantity">
                                <input type="hidden" value="<%= cart.product._id %>" name="product">
                                <button type="submit" hidden id="updateButton"></button>
                            </form>
                            <form action="/cart/delete?_method=PUT" method="Post" class="cartProductDetailDelete">
                                <input type="text" name="product" value="<%= cart.product._id  %>" hidden>
                                <input type="number" name="quantity" value="<%= cart.quantity %>" hidden>
                                <button type="submit" class="fas fa-trash"></button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="right">
                <div class="checkoutWrapper">
                <div class="checkoutContainer">
                    <h4 class="checkoutContainerTitle">Subtotal</h4>
                    <h2 class="checkoutContainerPrice"><%= totalPrice  %> </h2>
                </div>
                <div class="checkoutContainer">
                    <h4 class="checkoutContainerTitle">Tax(5%)</h4>
                    <h2 class="checkoutContainerPrice"><%= (totalPrice *5) /100  %> </h2>
                </div>
                <div class="checkoutContainer">
                    <h4 class="checkoutContainerTitle">Total</h4>
                    <h2 class="checkoutContainerPrice"><%= totalPrice + ((totalPrice *5) /100)  %> </h2>
                </div>
                <form class="checkoutContainer">
                    <button>Checkout</button>
                </form>
            </div>
            </div>
        </div>
    </section>



    <script src="/scripts/cart.js"></script>
    <script src="/scripts/navbar.js"></script>
    <%- include('partials/end')  %> 