<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    
    <%- include('partials/flash')  %> 

<!-- admin sidebar -->
    <section class="adminMain" id="adminMain">
        <div class="adminSidebar">
            <div class="adminImage">
                <img src=<%= image  %>  alt="adminLogo" class="admin">
            </div>
            <h1><%= username %> </h1>
            <div class="line"></div>
                <div class="links">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-house"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-gifts"></i>
                                <span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-regular fa-circle-user"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="#addProduct">
                                <i class="fa-solid fa-circle-plus"></i>
                                <span>Add Pro</span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>


        <!-- admin navbar -->
        <div class="rightSide">
            <div class="adminNavbar">
                <h1 class="adminNavbarTitle">Admin Panel</h1>
                <div class="adminNavbarActions">
                    <form action="/auth/logout" method="POST">
                        <button class="adminNavbarLogout">Logout</button>
                    </form>
                    <img src="/images/logo.png" alt="logo" class="adminNavbarLogo">
                    <div class="fas fa-bars" id="adminNavbarMenu"></div>
                </div>
            </div>


            <!-- users table -->
            <div class="users">
                <table>
                    <thead>
                        <th>Images</th>
                        <th>Username</th>
                        <th>Email</th>
                        <tbody>
                            <% for(let user of users) { %>
                                <tr>
                                    <td data-label="Image">
                                        <img src=<%= user.picture.url  %>  alt="userImages" class="userImages" >
                                    </td>
                                    <td data-label="Username"><%= user.username  %> </td>
                                    <td data-label="Email"><%= user.email %> </td>
                                    <td>
                                        <a href="/user/update/<%= user._id %>" class="btn-3 customElement1">Edit</a>
                                    </td>
                                    <td>
                                        <form action="/user/delete/<%= user._id %>?_method=DELETE" method="Post">
                                        <button class="btn-3 customElement2">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                
                                <% } %>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </section>
            
    
    <!-- add product -->
    
    <section class="addProduct" id="addProduct">
        <form class="formContainer" action="/product/add" method="POST" enctype="multipart/form-data">
            <h1 class="formContainerTitle">Add Product</h1>
            <input type="file" name="product[file]" hidden id="file" accept="image/*" >
         <div class="imageUpload" data-img="">
            <i class="fa-solid fa-file-image"></i>
        </div>
        <button type="button" class="imageBtn">Choose Image</button>
        <div class="formContainerBox">
            <input type="text" name="product[title]" id="title" required >
            <h4>Title</h4>
            <span class="formContainerBoxInfo" id="titleError"></span>
        </div>
        <div class="formContainerTextarea">
            <textarea name="product[desc]" id="desc" required ></textarea>
            <h4>Description</h4>
            <span class="formContainerBoxInfo" id="descError"></span>
        </div>
        <div class="formContainerBox">
            <input type="text" name="product[price]" id="price" required>
            <h4>Price</h4>
            <span class="formContainerBoxInfo" id="priceError"></span>
        </div>
        <div class="formContainerBoxSelect">
            <select name="product[category]" id="category" required>
                <option value="annuals" selected>Annuals</option>
                <option value="biennials">Biennials</option>
                <option value="perennials">Perennials</option>
            </select>
        </div>
        <button class="btn-3" id="submitButton" onclick="return validateForm()">Add</button>
        <a href="#adminMain" class="fas fa-times" id="productClose"></a>
    </form>

</section>
    


    <script src="/scripts/dashboard.js"></script>
    <script src="/scripts/addProValidation.js"></script>
    <script src="/scripts/imageUpload.js"></script>
    <%- include('partials/end')  %> 