<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    <section class="adminMain">
        <div class="adminSidebar">
            <div class="adminImage">
                <img src=<%= image  %>  alt="adminLogo" class="admin">
            </div>
            <h1><%= username %> </h1>
            <div class="line"></div>
                <div class="links">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-house"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-gifts"></i>
                                <span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-regular fa-circle-user"></i>
                                <span>Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-circle-plus"></i>
                                <span>Add Pro</span>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="rightSide">
            <div class="adminNavbar">
                <h1 class="adminNavbarTitle">Admin Panel</h1>
                <div class="adminNavbarActions">
                    <form action="/auth/logout" method="POST">
                        <button class="adminNavbarLogout">Logout</button>
                    </form>
                    <img src="/images/logo.png" alt="logo" class="adminNavbarLogo">
                    <div class="fas fa-bars" id="adminNavbarMenu"></div>
                </div>
            </div>
            <div class="users">
                <table>
                    <thead>
                        <th>Images</th>
                        <th>Username</th>
                        <th>Email</th>
                        <tbody>
                            <% for(let user of users) { %>
                                <tr>
                                    <td data-label="Image">
                                        <img src=<%= user.picture.url  %>  alt="userImages" class="userImages" >
                                    </td>
                                    <td data-label="Username"><%= user.username  %> </td>
                                    <td data-label="Email"><%= user.email %> </td>
                                    <td>
                                        <a href="/user/update/<%= user._id %>" class="btn-3 customElement1">Edit</a>
                                    </td>
                                    <td>
                                        <form action="/user/delete/<%= user._id %>?_method=DELETE" method="Post">
                                        <button class="btn-3 customElement2">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                
                                <% } %>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </section>
    


    <script src="/scripts/dashboard.js"></script>
    <%- include('partials/end')  %> 