<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/products/products.css">
</head>
<body>

    <%- include('partials/navbar')  %> 

    <!-- home section -->
    <section class="home" id="home">

        <%- include('partials/flash')  %> 
        <div class="homeContent">
            <h1 class="homeContentHeading">A flower can say it better</h1>
            <p class="homeContentDesc">We don’t just create bouquets – we create emotions</p>
            <a href="/product/products" class="btn">Discover</a>
        </div>
        <div class="homeImage">
            <img src="/images/home.jpg" alt="homeImage">
        </div>
    </section>


    <!-- categories section -->
    <section class="categories" id="categories">
        <h1 class="heading" >Categories</h1>
        <div class="categoriesBox">
            <div class="category category-1">
                <img src="/images/annuals/dahliaCat.jpg" alt="annuals" class="categoryImage">
                <div class="categoryContent">
                    <h1 class="categoryContentHeading">Annuals</h1>
                    <a href="/product/products?category=annuals"  class="btn">Shop Now</a>
                </div>
            </div>
            <div class="category category-2">
                <img src="/images/biennials/foxglovCat.jpg" alt="biennials" class="categoryImage">
                <div class="categoryContent">
                    <h1 class="categoryContentHeading">Biennials</h1>
                    <a href="/product/products?category=biennials"  class="btn">Shop Now</a>
                </div>
            </div>
            <div class="category category-3">
                <img src="/images/perennials/asterCat.jpg" alt="perennials" class="categoryImage">
                <div class="categoryContent">
                    <h1 class="categoryContentHeading">Perennials</h1>
                    <a href="/product/products?category=perennials" class="btn">Shop Now</a>
                </div>
            </div>
        </div>

    </section>

    <section id="products">
        <%- include('partials/products')  %> 
    </section>



    <script src="/scripts/others/navbar.js"></script>
    <script src="/scripts/others/category.js"></script>
<%- include('partials/end')  %> 