<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/profile.css">
</head>
<body>


    <section class="userPage">
        <a href="/home/" class="cancel btn-2">Cancel</a>
        <form class="formContainer" action="/user/update/<%= id  %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h1 class="formContainerTitle">Profile</h1>
            <input type="file" name="image" hidden id="file" accept="image/*" value=<%= image  %> >
         <div class="imageUpload" data-img="">
            <img src=<%=image  %>  alt="">
        </div>
        <button type="button" class="btn-2 imageBtn">Choose Image</button>
        <div class="formContainerBox">
            <input type="text" name="username" autocomplete="off" id="username" value=<%= username  %> >
            <h4>Your Username</h4>
            <span class="formContainerBoxInfo" id="nameError"></span>
        </div>
        <div class="formContainerBox">
            <input type="email" name="email"  autocomplete="off" id="email" value=<%= email  %> >
            <h4>Your Email</h4>
            <span class="formContainerBoxInfo" id="emailError"></span>
        </div>
        <button class="btn-2" id="submitButton" onclick="return validateForm()">Update</button>
    </form>
    </section>

    <script src="/scripts/profile.js"></script>
    <%- include('partials/end')  %> 