<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/singleProduct.css">
</head>
<body>

    <%- include('partials/navbar')  %> 

    <%- include('partials/flash')  %> 

<section class="productDetail">
    <div class="left">
        <img src=<%= product.image.url  %>  alt="singleProduct" class="leftImage">
        <% if(username){ %>
        <div class="leftReview">
            <button class="leftReviewButton" id="open">Make Review</button>
                <form action="/reviews/create/<%= product._id %> " method="POST" class="reviewContainer">
                    <a class="fas fa-close" id="closeReview"></a>
                    <div class="reviewRating">
                        <input type="number" id="rating" name="reviews[rating]" hidden required>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                    <div class="reviewDesc">
                        <textarea name="reviews[body]" id="body" placeholder="comment your thoughts...." cols="30" rows="10"></textarea>
                        <span class="formContainerBoxInfo" id="bodyError"></span>
                    </div>
                    <span class="formContainerBoxInfo" id="commonError"></span>
                    <button id="review" onclick="return validateForm()">Review</button>
                </form>
             </div>
             <% } %>
        </div>
    </div>
    <div class="right">
        <h1 class="rightTitle"><%=product.title  %> </h1>
        <p class="rightDetail"><%= product.description  %> </p>
        <h4 class="rightPrice">$<%= product.price  %> </h4>
        <form action="/cart/create" method="POST">
            <input type="text" name="product" value="<%= product._id  %>" hidden>
            <input type="number" name="quantity" value="1" hidden>
        <button class="rightCheckout"><i class="fa-solid fa-cart-shopping"></i>add Cart</button>
    </form>
    </div>
</section>

<section class="productsAbout">

    <div class="productReview">
        <h1 class="productReviewsTitle">Reviews</h1>
        <% for(let review of reviews) { %>
        <div class="productReviewCard">
            <img src=<%= review.author.picture.url  %>  alt="review" class="reviewImage">
            <div class="ProductReviewCardDetail">
                <p class="productReviewDesc"><%= review.body %> </p>
                <div class="productReviewstars">
                    <% for(let i=0; i<= review.rating; i++)  { %>
                    <i class="fas fa-star"></i>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <%- include('partials/products')  %> 

    <script src="/scripts/singleProduct.js"></script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/reviewValidation.js"></script>


<%- include('partials/end')  %> 

</section>